
/* Navigation */
ul.navigation
	float: right
	a
		text-decoration: none
		li.navigation-link 
			font-family: 'Ubuntu', sans-serif
			text-transform: uppercase
			list-style: none
			display: inline
			color: $black
			font-weight: 200
			padding: 0 1em