
/* Navigation */
ul.navigation
	// position: fixed
	a
		li.navigation-link 
			font-family: 'Ubuntu', sans-serif
			list-style: none
			display: inline
			float: right
			color: $white
			padding: 0 1em