
/* Import Bootstrap */
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap'

/* Layout styles */
@import 'layout';

/* Import Colors */
@import 'components/color';

/* Component: Typography */
@import 'components/type';

/* Component: Navigation */
@import 'components/navigation';

/* Pages: Home */
@import 'pages/home';

body 
	color: white;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent
	width: 100%
	margin: 0

