body.home 
	background-color: transparent
	width: 100%
	margin: 0
	position: relative
	top: 0px
	left: 0px
	
	#main, #mission
		h1
			text-align: center
			margin: 0
			display: block
	
	#main
		background: url('../img/cycle-hero.jpg') center no-repeat
		background-size: cover
		position: relative
		width: 100%
		height: 700px
		
		a
			img
				top: 3%
				left: 3%
				position: absolute
				width: 55vmin
				
		.headline__home--splash
			border: 2px solid $white
			padding 20px 40px
			lost-column: 1/3
			position: relative
			text-align: center
			top: 40%
			left: 30%
				
	#mission
		// lost-utility: edit
		.Card
			lost-column: 1/4
			color: $black
			


